/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container-fluid {
    padding: 20px;
}

/* Estilos para el encabezado (header) y la barra de navegación */
header {
    background-color: #343a40;
    color: #fff;
    padding: 0px;
}

.navbar-brand {
    font-size: 32px;
    font-weight: bold;
}

.nav-link {
    color: #fff;
    font-weight: bold;
    border-radius: 5px; /* Agregar un borde redondeado */
    transition: background-color 0.5s; /* Agregar animación de 0.5 segundos */
}

/* Estilo para el hover (al pasar el mouse por encima) */
.nav-link:hover {
    background-color: #555; /* Cambiar el color de fondo en hover */
}


/* Estilos para la sección AcercaDeMi */
.AcercaDeMi {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.AcercaDeMi h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#parrafo {
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
}

/* Estilos para la lista de elementos */
#lista {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

#lista p {
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 20px;
}

#lista ul {
    list-style: none;
    padding: 0;
}

#lista li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos para las imágenes */
.img-descub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-descub img {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilos para la sección Ofertas */
#Ofertas {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

#Ofertas p {
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 20px;
}

#Ofertas ul {
    list-style: none;
    padding: 0;
}

#Ofertas li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos para el formulario de contacto */
.form-header {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.form-header h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px;
}

.form-header p {
    font-size: 18px;
}

.formulario label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para el pie de página (footer) */
#piedepagina {
    background-color: #343a40;
    color: #fff;
    padding: 75px;
    text-align: center;
}

#piedepagina h3 {
    font-size: 22px;
    margin: 0;
}

#piedepagina list-unstyled {
    display: block;
    background-color: #343a40;
    color: #fff;
    align-items: center;
}

#piedepagina .list-unstyled {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#piedepagina .list-unstyled .dropdown {
    margin: 10px;
    position: relative; /* Debe ser "relative", no "flex" */
}

#piedepagina .list-unstyled a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px; /* Agregar un borde redondeado */
    transition: background-color 0.5s; /* Agregar animación de 0.5 segundos */
}

#piedepagina .list-unstyled .dropdown:hover a {
    color: #ffffff;
    border-radius: 5px; /* Agregar un borde redondeado */
    transition: background-color 0.5s; /* Agregar animación de 0.5 segundos */
}

#piedepagina .list-unstyled .dropdown-menu {
    background-color: #343a40;
    border: none;
    position: flex;
    top: 100%;
    left: 0;
    display: none;
}

#piedepagina .list-unstyled .dropdown:hover .dropdown-menu {
    display: flex;
}

#piedepagina .list-unstyled .dropdown-menu a {
    color: #fff;
    transition: background-color 0.3s;
}

#piedepagina .list-unstyled .dropdown-menu a:hover {
    background-color: #252525;
}



/* Bootstrap : Hacer que el dropdown se despliegue al pasar el mouse */
.dropdown:hover .dropdown-menu {
    display: block !important;
}

/* Estilos para la barra de navegación en dispositivos móviles */
@media (max-width: 768px) {
    .navbar-toggler-icon {
        color: #fff;
    }

    .navbar-collapse {
        background-color: #343a40;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-link {
        margin: 5px 0;
    }
}

/* Estilos para el botón de enviar */
button[type="submit"] {
    background-color: #343a40; /* Color de fondo */
    color: #fff; /* Color de texto */
    font-size: 18px; /* Tamaño de fuente */
    padding: 10px 20px; /* Espacio alrededor del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

/* Estilo cuando se pasa el ratón por encima del botón */
button[type="submit"]:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón */
}
