body{
    background-color: #0d1117;
    padding: 0px;
    margin: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    max-width: 1200px; /* Puedes ajustar este valor según tus necesidades */
    margin: 0 auto; /* Esto centra el contenido en la página */
    padding-bottom: 80px; /* Ajusta el valor según el tamaño del pie de página */
}

/* Estilo para la cabecera (header) */
header {
    display: flex; /* flexbox para hacer la barra de navegación horizontal */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 0px; /* Espacio alrededor del contenido del encabezado */
}

header img{
    width: 65px;
    height: auto;
}

/* Estilo para la barra de navegación (navbar) */
nav{
    background-color: #24292f;
    color: #afb8c1;
    width: 100%; /* Ancho del 100% para ocupar todo el ancho del header */
    position: relative; /* ajusta la posición de la barra*/
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista "viñetas" */
    display: flex; /* Hace que los elementos de la lista sean horizontales */
    justify-content: flex-start; /* centrar horozontal */
    align-items: center; /* centrar vertical */
}

nav li {
    margin-right: 20px; /* Espacio entre elementos de la lista */
}
nav a{
    text-decoration: none;
    color: #afb8c1;
}

/* Estilo cuando el cursor pasa sobre el enlace de navbar*/
nav a:hover{
    background: #32383f; /* Color sombreado elementos del navbar */
}

nav ul li a {
    display: block;
    padding: 0.2rem 1rem; /* Tamaño elementos de lista para navbar */ 
    transition: all 0.4s linear; /* Tiempo transition cuando deslizo el cursor */
    border-radius: 6px; /* Borde de la forma cuando paso el cursor sobre navbar */
}

/* Estilo para los parrafos (p) */
p{
    background-color: #0d1117;
    padding: 0.2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}
.AcercaDeMi{ /* Estilo para los elementos contender AcercaDeMi (AcercaDeMi) */
    background-color: #161b22;
    color: #e6ede6; /* Color del texto de parrafos */
    padding: 0.2em;
}
#Ofertas{ /* Estilo para los elementos contender AcercaDeMi (AcercaDeMi) */
    background-color: #161b22;
    color: #e6ede6; /* Color del texto de parrafos */
    padding: 0.2em;
}
/* Estilo para el contenedor lista (lista) */
#lista{
    background-color: #161b22;
    color: #e6ede6; /* Color del texto de parrafos */
    padding: 0.2em;
}

/* Estilo para que los contenedores queden en bloques*/
#lista{
    width: 65%; /* Establece el ancho de cada bloque según tus necesidades */
    float: left; /* Hace que los bloques se coloquen uno al lado del otro */
    margin: 10px; /* Agrega un margen entre los bloques para separarlos */
}

.Categorias{
    width: 25%;
    float: left;
    margin: 10px;
}
#Ofertas{
    width: 65%;
    float: left;
    margin: 10px;
}

.AcercaDeMi{
    width: 65%;
    float: left;
    margin: 10px;
}
.img-descub{
    width: 65%;
    float: left;
    margin: 10px;
}

/* Estilo para imagenes en contenedor (img-descub) */
.img-descub img{ /* La clase es ek equivalente de la etiqueta podria ser .medusa o div, medusa fue el nombre que yo di */
    height: auto;
    width: 250px;
    justify-content: center;
}
/*Estilos para el footer*/
footer {
    position: relative;
    left: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 180px;
    background-color: #24292f;
    color: #afb8c1;
    text-align: center;
}

#piedepagina h3 {
    font-size: 18px;
}

#piedepagina ul {
    list-style: none;
    padding: 0;
}

#piedepagina li {
    display: inline;
    margin: 0 10px;
}

#piedepagina a {
    text-decoration: none;
    color: #afb8c1;
}

/* Estilo para los vínculos al pasar el ratón sobre ellos */
#piedepagina a:hover {
    text-decoration: underline;
}

/*Barra navegacion responsive*/

#check{
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: aqua;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
    .AcercaDeMi {
        display: flex; /* Esto ocultará la barra de navegación en pantallas más pequeñas */
        flex: auto;
        background-color: rgb(19, 18, 18); /* Si deseas cambiar el color de fondo, puedes hacerlo aquí o eliminar esta línea si no es necesario. */
      }
  
    .img-descub {
        display: block; /* Esto ocultará la barra de navegación en pantallas más pequeñas */
        background-color: rgb(27, 22, 94); /* Si deseas cambiar el color de fondo, puedes hacerlo aquí o eliminar esta línea si no es necesario. */
      }

    .checkbtn {
        display: block; /* Para que muestre el boton de la hamburguesa */
        position: left;
    }
    nav {
        position: relative;
    }

    nav ul{
        display: block;
        position: fixed;
        width: 100%;
        height: 150vh;
        background-color: rgb(51, 53, 53);
        text-align: center;
        top: 50px;
        left: 100%;
        transition: all 0.5s;
    }

    #check:checked ~ nav ul {
        left: 0%;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
  }

@media (min-width: 769px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
    .navbar {
      display: flex; /* Esto ocultará la barra de navegación en pantallas más pequeñas */
      background-color: rgb(104, 93, 102); /* Si deseas cambiar el color de fondo, puedes hacerlo aquí o eliminar esta línea si no es necesario. */
    }
    .AcercaDeMi {
        display: flex; /* Esto ocultará la barra de navegación en pantallas más pequeñas */
        flex: auto;
        background-color: rgb(179, 35, 155); /* Si deseas cambiar el color de fondo, puedes hacerlo aquí o eliminar esta línea si no es necesario. */
      }
    .checkbtn {
        display: none; /* àra que muestre el boton de la hamburguesa */
    }

    .img-descub {
        display: block; /* Esto ocultará la barra de navegación en pantallas más pequeñas */
        background-color: rgb(179, 35, 155); /* Si deseas cambiar el color de fondo, puedes hacerlo aquí o eliminar esta línea si no es necesario. */
      }
  }


  @media (min-width: 769px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */

  }